/* Google fonts import */
<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
</style>

/* override webbrowser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Styles */
    color: #3D3C41;
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0);
    padding: 1rem;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 98;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* drop down navigation bar */
nav {
    position: absolute;
    background-color: #E1DBCA;
    border-radius: 1rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 80px;
    display: none;
}

#quick-booking {
    background-color: #E1DBCA;
    border: solid 1px #3D3C41;
    padding: 10px;
    border-radius: 1rem;
}

#logo {
    background-color: #E1DBCA;
    align-items: center;
    border: solid 1px #3D3C41;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    border-radius: 1rem;
    }

#menu {
    letter-spacing: 5px;
    list-style-type: none;
    padding: 5px;
}

.menu-div {
    background-color: #E1DBCA;
    display: flex;
    justify-content: flex-end;
    right: 0;
    border: solid 1px #3D3C41;
    padding: 10px;
    border-radius: 1rem;
}

#menu-toggle {
    display: none;
}

/* Show the menu when the checkbox is checked */
#menu-toggle:checked~nav {
    display: block;
}

.active {
    border-bottom: 1px solid #3D3C41;
}

main {
    /* fill main to push the footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    display: flex;
    height: 700px;
    width: 100%;
    background: no-repeat center center/cover url(../images/hero1.webp);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 0;
    padding-top: 80px;
    flex-grow: 1;
}

footer {
    margin-top: 609px;
    background-color: green;
    flex-shrink: 0;
    z-index: 2;
}