/* override webbrowser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
g body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: azure;
    padding: 1rem;
    display: flex;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* drop down navigation bar */
nav {
    position: absolute;
    background-color: azure;
    border-bottom-left-radius: 1rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    display: none;
}

#logo {
    display: flex;
    justify-content: flex-start;
}

#menu {
    letter-spacing: 5px;
    list-style-type: none;
    padding: 5px;
}

.menu-div {
    display: flex;
    justify-content: flex-end;
    right: 0;
}

#menu-toggle {
    display: none;
}

/* Show the menu when the checkbox is checked */
#menu-toggle:checked~nav {
    display: block;
}

.active {
    border-bottom: 1px solid #000000;
}

main {
    /* fill main to push the footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: no-repeat center center/cover url(../images/hero1.webp);
    position: relative;
}

footer {
    background-color: green;
    flex-shrink: 0;
}